<h1><%= @question.text %></h1>
<%= render 'layouts/flash' %>
<div class="button-group hollow no-gaps">
<% if @category %>
    <%= link_to "<i class=\"fa-solid fa-chevron-left\"></i> Back".html_safe, category_path(@category), class: 'button align-right' %>
    <%= user_signed_in? ? link_to("<i class=\"fa-solid fa-pen\"></i> Edit".html_safe, edit_category_question_path(@category, @question), class: 'button') : '' %>
<% else %>
    <%= link_to "<i class=\"fa-solid fa-chevron-left\"></i> Back".html_safe, questions_path, class: 'button align-right' %>
    <%= user_signed_in? ? link_to("<i class=\"fa-solid fa-pen\"></i> Edit".html_safe, edit_question_path(@question), class: 'button') : '' %>
<% end %>
</div>
<table class="hover">
<% @question.answer_choices.shuffle.each_with_index do |answer, index| %>
    <tr class="answer-option">
        <td>
            <%= ('A'.ord + index).chr %>) 
            <%= answer.text %>
            <span style="display: none;" class="question-answer"<%= answer.is_correct ? ' data-correct="true"' : ''%>>
                <%= answer.is_correct ? '<i class="fa-solid fa-circle-check green"></i>'.html_safe : 
                    '<i class="fa-solid fa-circle-xmark red"></i>'.html_safe 
                %>
            </span>
        </td>
    </tr>
<% end %>
</table>
<% if @question.explanation? %>
<div class="primary callout" style="display: none" id="question-explanation">
    <p>
        <%= @question.explanation %>
    </p>
</div>
<% end %>
<div class="button-group hollow align-right">
    <% if session[:shuffle] %>
        <%= link_to "Next&nbsp;&nbsp;<i class=\"fa-solid fa-chevron-right\"></i>".html_safe, shuffle_questions_path, class: 'button' %>
    <% elsif session[:shuffle_category] %>
        <%= link_to "Next&nbsp;&nbsp;<i class=\"fa-solid fa-chevron-right\"></i>".html_safe, @category ?  shuffle_category_path(@category) : question_path(@next_question), class: 'button' %>
    <% else %>
        <%= link_to "Next&nbsp;&nbsp;<i class=\"fa-solid fa-chevron-right\"></i>".html_safe, @category ? category_question_path(@category, @next_question) : question_path(@next_question), class: 'button' %>
    <% end %>
</div>
<script>
$(document).ready(function() {
    $('.answer-option').on('click', function() {
        $(this).find('.question-answer').toggle();
        $('#question-explanation').show();
    });
});
</script>