<tr>
    <td><%= category.name %></td>
    <td><%= category.parent_id %></td>
    <td>
        <div class="button-group">
            <%= link_to 'Show', category, class: "button" %>
            <%= link_to 'Edit', edit_category_path(category), class: "button" %>
            <%= link_to 'Delete', category, class: "button", data: {
                turbo_confirm: 'Are you sure?',
                turbo_method: :delete
            } %>
        </div>
    </td>
</tr>